<p class="my-3">
  <small [class]="isSinTacc?'text-success':'text-danger'">
    <ng-container *ngIf="isSinTacc; else conTaccTemplate">
         <span class="fa-stack text-success">
          <fa-icon [icon]="iconSlash" stackItemSize="1x"></fa-icon>
          <fa-icon [icon]="iconSinTacc" stackItemSize="1x"></fa-icon>
        </span>
    </ng-container>
    <ng-template #conTaccTemplate>
         <span class="fa-stack text-danger">
          <fa-icon [icon]="iconConTacc" stackItemSize="1x"></fa-icon>
        </span>
    </ng-template>
    <strong>
      {{ isSinTacc ? 'No contiene TACC' : 'Contiene TACC' }}
    </strong>
  </small>
</p>
