<p class="my-3">
  <small [class]="isVegan?'text-success':'text-danger'">
    <ng-container *ngIf="!isVegan; else veganTemplate">
      <span class="fa-stack">
        <fa-icon [icon]="iconSlash" stackItemSize="1x"></fa-icon>
        <fa-icon [icon]="iconVegano" stackItemSize="1x"></fa-icon>
      </span>
    </ng-container>
    <ng-template #veganTemplate>
      <span class="fa-stack">
        <fa-icon [icon]="iconVegano" stackItemSize="1x"></fa-icon>
      </span>
    </ng-template>
    <strong>
      {{ isVegan ? 'Es vegano' : 'No es vegano' }}
    </strong>
  </small>
</p>

