<div class="carousel d-block d-md-none">
  <app-button-filter-menu
    (click)="toggleCategory(name)"
    *ngFor="let name of filtersCategories; let i = index"
    [isActive]="filter.activateFilterByCategory.includes(name)"
    [name]="name"
  />
  <app-button-filter-menu
    (click)="toggleSinTacc()"
    [isActive]="filter.activateFilterSinTacc"
    [name]="'Sin Tacc'"
  />
  <app-button-filter-menu
    (click)="toggleVegano()"
    [isActive]="filter.activateFilterVegano"
    [name]="'Vegano'"
  />
</div>

<div class="d-none d-md-block my-4">
  <div class="d-flex flex-column border-black">
    <app-button-filter-menu
      (click)="toggleCategory(name)"
      *ngFor="let name of filtersCategories; let i = index"
      [isActive]="filter.activateFilterByCategory.includes(name)"
      [name]="name"
    />
    <app-button-filter-menu
      (click)="toggleSinTacc()"
      [isActive]="filter.activateFilterSinTacc"
      [name]="'Sin Tacc'"
    />
    <app-button-filter-menu
      (click)="toggleVegano()"
      [isActive]="filter.activateFilterVegano"
      [name]="'Vegano'"
    />
  </div>
</div>

