.card {
  padding: 0 .625rem .625rem .625rem;
  width: 265px;
  height: 8.75rem;
}

.bg-card {
  background-color: #638C63;
  color: white;
}

.card-title {
  font-weight: 600;
  margin: .625rem 0;
  font-size: 1.125rem;
}

.card-text {
  font-weight: 400;
  font-size: .875rem;
}

.card-footer {
  margin: 0;
  padding: 0;
  border: none;
}

.card-link {
  color: white;
  font-size: .875rem;
  font-weight: 600;

}



