<div class="modal-header text-center">
  <h4 class="modal-title ms-auto" id="modal-basic-title">Iniciar Sesión</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="d-flex justify-content-evenly">
      <div class="" id="google-button"></div>
      <button class="btn facebook-button" (click)="signInWithFB()">
        <fa-icon class="fb-icon" [icon]="faFacebook"></fa-icon> Acceder con Facebook
      </button>
      <div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mb-3">

      </div>

      <span class="text-center">o ingresa con tu email</span>

      <div class="col-12">
        <form [formGroup]="loginForm">
          <div class="input-group mt-2 mb-4">
            <span class="input-group-text">
              <fa-icon [icon]="faUser"></fa-icon>
            </span>
            <input type="text" id="username" formControlName="username" class="form-control" placeholder="usuario">
          </div>

          <div class="input-group mb-2">
            <span class="input-group-text">
              <fa-icon [icon]="faLock"></fa-icon>
            </span>
            <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password">
          </div>
        </form>
      </div>

      <a href="" class="text-center">¿Olvidaste tu contraseña?</a>

      <span class="text-center">¿No tienes cuenta? <a  href="">Regístrate</a></span>
    </div>
  </div>

</div>
<div class="modal-footer justify-content-center">
  <button [disabled]="loginForm.invalid" type="button"
    (click)="login()" class="btn btn-primary">
    Iniciar sesión
  </button>
</div>


  <!--ng-template #content let-modal>
    <div class="modal-header text-center">
      <h4 class="modal-title ms-auto" id="modal-basic-title">Iniciar Sesión</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="col-12" id="google-button"></div>
          </div>
          <div class="col-12">
            <form [formGroup]="loginForm">
              <div class="input-group mt-2 mb-4">
                <span class="input-group-text">
                  <fa-icon [icon]="faUser"></fa-icon>
                </span>
                <input type="text" id="username" formControlName="username" class="form-control" placeholder="usuario">
              </div>

              <div class="input-group mb-2">
                <span class="input-group-text">
                  <fa-icon [icon]="faLock"></fa-icon>
                </span>
                <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password">
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
    <div class="modal-footer justify-content-center">
      <button [disabled]="loginForm.invalid" type="button"
        (click)="modal.close('Save click')" class="btn btn-primary">
        Iniciar sesión
      </button>
    </div>
  </ng-template>

  <button class="btn btn-secondary ms-md-4" type="button" (click)="open(content)">
    Iniciar sesión
  </button-->

