<main class="container">

  <section class="row align-items-center mt-3">
    <div class="col-1">
      <a routerLink="''" class="btn m-0 border-0">
        <fa-icon [icon]="faChevronLeft"/>
      </a>
    </div>
    <div class="col-10">
      <h1 class="m-0 text-center d-inline-block w-100">{{menuService.tipoPlato}}</h1>
    </div>
  </section>

  <section class="row">
    <div class="d-none d-md-block col-md-3"></div>
    <div class="col-12 col-md-9">
      <div class="d-block d-md-flex justify-content-between align-content-center">
        <div class="flex-grow-1">
          <app-input-search-menu (inputValueChanged)="updateSearchTermFilter($event)"/>
        </div>
        <div class="d-none d-md-flex justify-content-center align-items-center">
          <a id="btn-md-shopping" routerLink="/container/shopping" class="btn btn-dark">
            <span class="mx-2"><fa-icon [icon]="faCart"></fa-icon></span>
            Ver mi pedido</a>
        </div>
      </div>
    </div>
  </section>

  <section class="row">
    <div class="col-12 col-md-3">
      <app-group-button-filter-menu [filters]="menuService.getPlateNamesByTipoPlato()"
                                    (toggleSinTaccChanged)="  updateActiveFilterSinTacc($event)"
                                    (toggleVeganoChanged)="  updateActiveFilterVegano($event)"
                                    (toggleViewAllFilter)="updateViewAll($event)"

      />
    </div>
    <div class="col-12 col-md-9">
      <ng-container *ngFor="let menu of menuService.createMenu()">
        <app-deck-menu
          [menu]="menu"
          [searchTerm]="searchTerm"
          [activeFilterSinTacc]="activeFilterSinTacc"
          [activeFilterVegano]="activeFilterVegano"
          [activeFiltersTerm]="activeFilterSearchTerm"
          [activeFilters]="!viewAll"
        />
      </ng-container>

    </div>
  </section>

</main>


<footer class="menu-footer sticky-bottom bg-light align-content-center d-md-none"
        [class.d-none]="isButtonSuccessDisabled">
  <div class="d-flex justify-content-center align-items-center h-100">
    <a routerLink="/container/shopping" class="btn btn-dark">Ver mi pedido</a>
  </div>
</footer>
