<main class="container">

  <div class="row align-items-center mt-3">
    <div class="col-1">
      <a [routerLink]="''" class="btn m-0 border-0">
        <fa-icon [icon]="faChevronLeft"/>
      </a>
    </div>
    <div class="col-10">
      <h1 class="menu-title m-0 text-center d-inline-block w-100">{{data.typeMenu}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="d-none d-md-block col-md-3"></div>
    <div class="col-12 col-md-9">
      <div class="d-block d-md-flex justify-content-between align-content-center">
        <div class="flex-grow-1">
          <app-input-search-menu/>
        </div>
        <div class="d-none d-md-flex justify-content-center align-items-center">
          <a routerLink="/container/shopping" class="btn btn-dark">
            <span class="mx-2"><fa-icon [icon]="faCart"></fa-icon></span>
            Ver mi pedido</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-3 ">
      <app-group-button-filter-menu [filters]="filters"/>
    </div>
    <div class="col-12 col-md-9">
      <app-deck-menu
        [plateType]="menu"
        *ngFor="let menu of data.menu; let i = index"
      />
    </div>
  </div>
</main>


<footer class="menu-footer sticky-bottom bg-light align-content-center d-md-none"
        [class.d-none]="isButtonSuccessDisabled">
  <div class="d-flex justify-content-center align-items-center h-100">
    <a routerLink="/container/shopping" class="btn btn-dark">Ver mi pedido</a>
  </div>
</footer>
