<main>
  <div class="hero"></div>

  <div class="container">

    <h1 class="text-title">Nombre producto</h1>
    <h2 class="text-title">$4000</h2>

    <!--TODO ver como resolver esto -->
    <p class="text-break text-truncate text-muted">Descripcion del producto que llega maximo a dos lineas, sino se corta
      y empiezan los puntos suspen......</p>
    <div class="product-optional-container">
      <h2 class="text-title">Variedad</h2>
      <p class="text-muted">Elige opciones</p>
      <!-- TODO componente variedad -->
      Ingrese magia de variedad
    </div>

  </div>
</main>

<footer class="descripcion-footer sticky-bottom bg-light  ">

  <div class="d-flex justify-content-between align-items-center">
    <!-- TODO Hacerlo componente-->
    <div class="btn-group align-items-center " role="group"
         aria-label="Basic mixed styles example">
      <button type="button" class="btn btn-light ">-</button>
      <p class="align-self-center m-0 btn">1</p>
      <button type="button" class="btn btn-light ">+</button>
    </div>
    <a id="button" href="#" class="btn btn-dark">Button</a>
  </div>
</footer>

