<nav class="header navbar navbar-expand-md">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/assets/img/logos/logo1.png" alt="Veggie Deligh" class="logo-navbar">
    </a>
    <button class="navbar-toggler" type="button" (click)="toggleMenu()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div *ngIf="mostrarElementos" class="collapse navbar-collapse" [ngClass]="{ 'show': isCollapsed }">
      <ul class="navbar-nav ms-auto mb-2 mb-md-0 justify-content-end">
        <li class="nav-item ms-md-3" *ngFor="let item of menuItems()" [routerLink]="[item.route]" routerLinkActive="active">
          {{item.title}}
        </li>
      </ul>
      <!--button class="btn btn-secondary ms-lg-4" type="button">Iniciar sesión</button-->
      <!--app-login-modal></app-login-modal-->
      <button class="btn btn-login ms-md-4" type="button" (click)="login()">
        Iniciar sesión
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>



